#game-page-container {
  #top-controls {
    display: flex;
    justify-content: space-between;
  }

  #bottom-controls {
    display: flex;
    justify-content: flex-end;

    #new-game-btn {
      margin-left: 20px;
    }
  }
}
