#game-page-container {
  min-width: 700px;
  margin-left: 20px;
  margin-right: 20px;

  #top-controls {
    display: flex;
    justify-content: space-between;
  }

  #bottom-controls {
    display: flex;
    justify-content: flex-end;

    #new-game-btn {
      margin-left: 20px;
    }
  }

  #board-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    height: 75vh;
    margin-top: 10px;
    margin-bottom: 10px;

    .card-container {
      flex: 0 1 calc(20% - 10px); // - 10px to count for the 5px of margin on either side
      text-align: center;
      border-style: solid;
      border-width: 2px;
      border-radius: 10px;
      margin: 5px;
      overflow: hidden;
      background-color: white;

      .card-sub-container {
        height: 100%;
        .card-text-container {
          height: 100%;
          padding: 30px 0; // vertically center text
          .card-text {
            font-size: 18px;
          }
        }
      }

      .selected {
        .red {
          background-color: red;
          color: red;
        }

        .blue {
          background-color: blue;
          color: blue;
        }

        .neutral {
          background-color: beige;
          color: beige;
        }

        .assassin {
          background-color: black;
        }
      }

      .player {
        &:hover {
          cursor: pointer;
        }
      }

      .spymaster {
        &:hover {
          cursor: default
        }
        .red {
          color: red;
        }

        .blue {
          color: blue;
        }

        .assassin {
          color: white;
          background-color: black;
        }
      }
    }
  }
}
